<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link
    rel="icon"
    type="icon/ico"
    href="{{url_for('static',
    filename='image/ithb-logo.ico')}}"
  />

  <title>About || CNN Untuk Pengenalan Sidik Jari</title>
</head>
<body>
  <nav>
    <section id="navbar">
      <div class="logo">
        <a class="nav-link" href="{{url_for('build_html')}}">
          <img
            class="logo-home"
            src="{{url_for('static', filename='image/ithb-logo.png')}}"
            height="40px"
          />
        </a>
      </div>
      <a href="javascript:void(0);" id="burger-icon">
        <i class="fa fa-bars"></i>
      </a>
      <div class="menu">
        <ul id="top-menu">
          <li><a href="{{url_for('build_html')}}">Home</a></li>
          <li class="active">
            <a href="{{url_for('render_about')}}">About</a>
          </li>
        </ul>
      </div>
    </section>
  </nav>
  <section id="page-content-about">
    <section id="about">
      <h1 id="about-title">
        About this Program
      </h1>
      <div class="container real-content">
        <div class="row">
          <div class="watashi-no-photo col-lg-3">
            <img
              src="{{url_for('static', filename='image/python-logo.png')}}"
              width="200px"
            />
          </div>
          <div class="col-lg-9 watashi-no-speech">
            <p>
              Sebuah program yang dibuat dengan tujuan menyelesaikan tugas akhir
              kuliah.
            </p>
            <p>
              {{name}} adalah seorang Mahasiswa lulusan tahun 2020 dengan
              jurusan Teknik Informatika di Institut Teknologi Harapan Bangsa,
              Bandung, Jawa Barat, Indonesia. Untuk sekarang ini, Vincenlie
              sedang mengejar karir di bidang Web Development, Software
              Development, dan Mobile Apps Development.
            </p>
            <p id="italic" class="font-italic">
              Vincenlie Triadi is an Informatics alumnus of Institut Teknologi
              Harapan Bangsa that located in Bandung, West Java, Indonesia.
              Graduated in 2020, and currently pursuing career in Web
              Development, Software Development, dan Mobile Apps Development.
            </p>
            <p>
              Kontak Terkini Vincenlie Triadi /
              <span class="font-italic"
                >Vincenlie Triadi's Recent Contact
              </span>
              :
            </p>
            <table>
              <tr>
                <td>Email</td>
                <td>&nbsp;:&nbsp;</td>
                <td>
                  <a href="mailto:vincenlie.triadi@gmail.com"
                    >vincenlie.triadi@gmail.com</a
                  >
                </td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>&nbsp;:&nbsp;</td>
                <td>+628156518996</td>
              </tr>
            </table>
            <p>
              <br />
              Dibangun menggunakan Python 3.8.3 64bit.
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
