<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link
    rel="icon"
    type="icon/ico"
    href="{{url_for('static',
  filename='image/ithb-logo.ico')}}"
  />

  <title>Home || CNN Untuk Pengenalan Sidik Jari</title>
</head>
<body>
  <nav>
    <section id="navbar">
      <div class="logo">
        <a class="nav-link" href="#">
          <img
            class="logo-home"
            src="{{url_for('static', filename='image/ithb-logo.png')}}"
            height="40px"
          />
        </a>
      </div>
      <a href="javascript:void(0);" id="burger-icon">
        <i class="fa fa-bars"></i>
      </a>
      <div class="menu">
        <ul id="top-menu">
          <li class="active"><a href="{{url_for('build_html')}}">Home</a></li>
          <li><a href="{{url_for('render_about')}}">About</a></li>
        </ul>
      </div>
    </section>
  </nav>
  <section id="page-content">
    <section id="home">
      <h1>Selamat Datang di</h1>
      <h2>
        "Metode Convolutional Neural Network dengan Arsitektur VGG16 untuk
        Pengenalan Sidik Jari"
      </h2>
      <section id="form-upload">
        <form action="/" method="POST" enctype="multipart/form-data">
          <div class="custom-file">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 input-upload">
                  <div class="form-group">
                    <input
                      type="file"
                      class="custom-file-input"
                      name="image"
                      id="image"
                    />
                    <label class="custom-file-label" for="image"
                      >Select image...</label
                    >
                  </div>
                </div>
              </div>
              <!-- /row -->

              <div class="row">
                <div class="btn-upload">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                      Upload the Image
                    </button>
                  </div>
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /custom-file -->
        </form>
      </section>
      <!-- /form-upload -->
    </section>
    <!-- /page-content -->
  </section>
</body>
