<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link
    rel="icon"
    type="icon/ico"
    href="{{url_for('static',
  filename='image/ithb-logo.ico')}}"
  />

  <title>About || CNN Untuk Pengenalan Sidik Jari</title>
</head>
<body>
  <nav>
    <section id="navbar">
      <div class="logo">
        <a class="nav-link" href="#">
          <img
            class="logo-home"
            src="{{url_for('static', filename='image/ithb-logo.png')}}"
            height="40px"
          />
        </a>
      </div>
      <a href="javascript:void(0);" id="burger-icon">
        <i class="fa fa-bars"></i>
      </a>
      <div class="menu">
        <ul id="top-menu">
          <li><a href="{{url_for('build_html')}}">Home</a></li>
          <li class="active">
            <a href="{{url_for('render_about')}}">About</a>
          </li>
        </ul>
      </div>
    </section>
  </nav>
  <section id="page-content-about">
    <section id="about">
      <h1 id="about-title">
        Result
      </h1>
      <img
        src="{{url_for('Dataset', filename='Testing/1__M_Left_index_finger.BMP')}}"
      />
      <!-- <table>

      </table> -->
    </section>
  </section>
</body>
